services:
  ambrito:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ambrito-carpintaria
    restart: unless-stopped
    ports:
      - "3001:3000"
    env_file:
      - .env.local
    environment:
      - NODE_ENV=production
