@import "tailwindcss";

@theme {
  --font-sans: var(--font-manrope);
  --font-serif: var(--font-playfair); /* A Playfair funciona bem, mas vamos usá-la em maiúsculas */
}

body {
  background-color: #0a0a0a; /* Preto quase absoluto */
  color: #e5e5e5; /* Branco suave */
}

/* Utilitário para o estilo de letras espaçadas "Westbrook" */
.tracking-ultra-wide {
  letter-spacing: 0.25em;
}